USE [master]
GO
/****** Object:  Database [Gobang]    Script Date: 2020/7/9 11:29:15 ******/
CREATE DATABASE [Gobang]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gobang', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Gobang.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Gobang_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\Gobang_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gobang].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gobang]
GO
/****** Object:  Table [dbo].[result]    Script Date: 2020/7/9 11:29:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[result](
	[name] [nchar](10) NOT NULL,
	[time] [time](7) NOT NULL,
	[result] [nchar](10) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_result]    Script Date: 2020/7/9 11:29:16 ******/
CREATE CLUSTERED INDEX [IX_result] ON [dbo].[result]
(
	[name] ASC,
	[time] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
